
:root{
  --bleue_nuit :#252636;
  --Jaune : #fcb900;
  --blanc : #ffffff;
  --style_nav : 'PT Sans Narrow'
}

.top{
  background-color: var(--bleue_nuit);
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}
.top i{
  color:#ffffff;
  font-size: 28px;
}
/* -----------------------------------
      Navbar Section
--------------------------------------*/
.navbar-toggler{
  background-color: #fff !important;
}
.navbar img{
  width: 120px;
  display: none;
}
.header-one img{
  height: 80px;
  width: 200px;

}
.navbar{
  background-color: var(--bleue_nuit) !important;
}

.nav-item .nav-link{
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff !important;
}
.nav-link:hover{
  color: #fcb900 !important;
  transition: all 0.5s;
}
.nav-item .active{
color: #fcb900 !important;
}

/* -----------------------------------
      Banner Section
--------------------------------------*/
.banner{
  min-height: 95vh;
  background: linear-gradient(rgba(25, 25, 26, 0.52), rgba(25, 25, 26, 0.52)), url('https://images.unsplash.com/photo-1612935089040-89195ef54677?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .title{
  color: #ffffff;
   font-weight: bold;
   font-size: 36px;
   text-transform: uppercase;
   font-family: 'news-gothic-bold-regular', sans-serif;
  }
.banner .title span{
  color: #fcb900;
}
.banner p{
  font-size: 18px;
  color: #fcfcff83;
  font-weight: 600;
}
.banner .btn-banner{
    padding: 10px;
    border: 2px solid #fcb900;
    color: #fff;
    background-color: #fcb900;
    font-weight: 600;
    font-size: 18px;

}
.banner .btn-banner i{
  color: var(--bleue_nuit) !important;
}
/* -----------------------------------
      About Section
--------------------------------------*/
.about{
  display: grid;
  place-items: center;
  min-height: 90vh;
}
.accordion-button{
  background-color: var(--bleue_nuit) !important;
  color:var(--blanc);
  font-weight: bold;
}

.about h2{
  text-transform: uppercase;
  color: var(--bleue_nuit);
  font-weight: 700;
}

.about .milieu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;

}
.about .images{
  display: none;
}
.about .card{
  background-color: none;
  border-radius: none;
}
.about .card img{
  height: 200px;
  border-radius: 5px;
}


/* -----------------------------------
      Metier Section
--------------------------------------*/
.metiers .content{
  background-color: #fcfcff83;
}
.metiers .content:hover{
  transition: .5s;
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}

.metiers .content i{
  font-size: 28px;
  color: var(--bleue_nuit);
  
}
.metiers .content h4{
  font-family: 'Poppins', sans-serif;
  color: var(--bleue_nuit);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 21px;
}



/* -----------------------------------
      Portfolio Section
--------------------------------------*/
.portfolio-section {
    padding: 50px 0;
    background-color: #000;
  }
  .portfolio-section h2 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  .portfolio-menu {
    text-align: center;
  }
  .control {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #343a40;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all 0.5s ease;
  }
  .control:hover {
    background: #343a40;
  }
  .mixitup-control-active {
    color: #fff;
    background: #343a40;
  }
  .fancybox-container button:focus {
    outline: 0;
    box-shadow: none;
  }
  .portfolio-item {
    padding-top: 30px;
  }
  .pd {
    padding: 0;
    padding: 10px;
  }
  .pd img {
    height: 180px;
    transition: all 0.5s;
  }
  .portfolio-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    transition: all 0.5s;
    transform: scale(0);
  }
  .portfolio-overlay p,
  .portfolio-overlay a {
    position: relative;
    z-index: 4;
  }
  .portfolio-overlay::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    left: 10%;
    top: 10%;
    transition: 50ms height ease 150ms;
    z-index: 3;
  }
  .portfolio-overlay::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: 100ms width ease 200ms;
    z-index: 3;
  }
  .portfolio-item:hover .portfolio-overlay::before {
    width: 80%;
    height: 80%;
    border-top: 1px solid #50977f;
    border-right: 1px solid #50977f;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
  }
  .portfolio-item:hover .portfolio-overlay::after {
    width: 80%;
    height: 80%;
    border-bottom: 1px solid #50977f;
    border-left: 1px solid #50977f;
    transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
  }
  .portfolio-item li:hover .portfolio-overlay {
    visibility: visible;
    transform: scale(1);
  }
  .portfolio-overlay .category {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
  }
  .portfolio-overlay .magnify-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #50977f;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.25s;
  }
  .portfolio-overlay .magnify-icon:hover {
    background: #000;
  }
  .portfolio-overlay .magnify-icon p span i {
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
  }

/* -----------------------------------
      Partenaires Section
--------------------------------------*/
.partenaires{
  display: grid;
  place-items: center;
  min-height: 40vh;
  width: 100%;
}
.partenaires img{
  margin-top: 50px;
  width: 100%;
  height: 120px;

}


/* -----------------------------------
      Contact Section
--------------------------------------*/
.contacts .infos{
  background-color: var(--bleue_nuit);
  height: 500px;
  width: 90%;
}
.contacts .infos h6{
  color:#ffffff;
}



/* 
    ######### Background Attachement
*/
.background-attachement{
    background-image: linear-gradient(rgba(43, 43, 46, 0.52), rgba(43, 43, 46, 0.52)), url('https://images.unsplash.com/photo-1527199768775-bdabf8b32f61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-attachment: fixed;
    min-height: 55vh;
}


@media (max-width:991px) {
  .navbar img{
    display: block;
  }
  .header-one{
    display: none;
  }
  .about .images{
    display: block;
  }
  .about .content .row{
    display: none;
  }
  .contacts .infos{
    width: 100%;
  }
}

@media (max-width:764px) {
  .background-attachement{
    display: none;
  }
  
  
}

